@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #241d24;

  --color-rose-50: #fff1f4;
  --color-rose-100: #ffe1e8;
  --color-rose-200: #ffc8d6;
  --color-rose-300: #ff9fb7;
  --color-rose-400: #fb6d92;
  --color-rose-500: #f0416f;
  --color-rose-600: #d92458;
  --color-rose-700: #b6184a;
  --color-rose-800: #931646;
  --color-rose-900: #7a163f;

  --color-purple-50: #f7f2fc;
  --color-purple-100: #efe3f9;
  --color-purple-200: #ddc6f2;
  --color-purple-300: #c39fe6;
  --color-purple-400: #a771d4;
  --color-purple-500: #8d4dc0;
  --color-purple-600: #7536a3;
  --color-purple-700: #5f2b85;
  --color-purple-800: #4e276b;
  --color-purple-900: #402259;

  --color-neutral-50: #faf9fa;
  --color-neutral-100: #f3f1f3;
  --color-neutral-200: #e5e1e5;
  --color-neutral-300: #d1cad1;
  --color-neutral-400: #a99fa9;
  --color-neutral-500: #837984;
  --color-neutral-600: #635a64;
  --color-neutral-700: #4a424b;
  --color-neutral-800: #322c33;
  --color-neutral-900: #201c21;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-body);
  --font-display: var(--font-display);

  --color-rose-50: var(--color-rose-50);
  --color-rose-100: var(--color-rose-100);
  --color-rose-200: var(--color-rose-200);
  --color-rose-300: var(--color-rose-300);
  --color-rose-400: var(--color-rose-400);
  --color-rose-500: var(--color-rose-500);
  --color-rose-600: var(--color-rose-600);
  --color-rose-700: var(--color-rose-700);
  --color-rose-800: var(--color-rose-800);
  --color-rose-900: var(--color-rose-900);

  --color-purple-50: var(--color-purple-50);
  --color-purple-100: var(--color-purple-100);
  --color-purple-200: var(--color-purple-200);
  --color-purple-300: var(--color-purple-300);
  --color-purple-400: var(--color-purple-400);
  --color-purple-500: var(--color-purple-500);
  --color-purple-600: var(--color-purple-600);
  --color-purple-700: var(--color-purple-700);
  --color-purple-800: var(--color-purple-800);
  --color-purple-900: var(--color-purple-900);

  --color-neutral-50: var(--color-neutral-50);
  --color-neutral-100: var(--color-neutral-100);
  --color-neutral-200: var(--color-neutral-200);
  --color-neutral-300: var(--color-neutral-300);
  --color-neutral-400: var(--color-neutral-400);
  --color-neutral-500: var(--color-neutral-500);
  --color-neutral-600: var(--color-neutral-600);
  --color-neutral-700: var(--color-neutral-700);
  --color-neutral-800: var(--color-neutral-800);
  --color-neutral-900: var(--color-neutral-900);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), sans-serif;
}

.font-display {
  font-family: var(--font-display), serif;
}

* {
  scrollbar-color: var(--color-rose-200) transparent;
}
